<div class="post" id="post">
    <div class="post-cover" style="
        background-image: 
            radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.65), #100e17),
            url(<%- post.cover || theme.cover %>);">
    </div>
    <div class="else">
        <p><%- post.date.locale("zh-cn").format("MMMM DD, YYYY") %></p>
        <h3><%- link_to(post.path, post.title || "Untitled", {class: "posttitle"}) %></h3>
        <p><%- truncate(strip_html(post.content), {length: 100, omission: '...'}) %></p>
        <% if (post.tags && post.tags.length){ %>
            <%- list_tags(post.tags, {
                show_count: false,
                class: 'post-tags'
            }) %>
        <% } %>
        <p class="post-count">
            <span>
                <b class="iconfont icon-text2"></b>
                <%= wordcount(post.content) %>字
            </span>
            <span>
                <b class="iconfont icon-timer__s"></b>
                <%= min2read(post.content) %>分钟
            </span>
        </p>
    </div>
</div>

