<%- partial('_partial/head') %>
<body class="loading">
    <span id="config-title" style="display:none"><%= config.title %></span>
    <div id="loader"></div>
    <%- body %>
</body>
<footer>
    <!-- <svg class="bottom-wave" xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 1440 240"><path fill="#100e17" fill-opacity="1" d="M0,128L34.3,133.3C68.6,139,137,149,206,144C274.3,139,343,117,411,117.3C480,117,549,139,617,128C685.7,117,754,75,823,74.7C891.4,75,960,117,1029,144C1097.1,171,1166,181,1234,176C1302.9,171,1371,149,1406,138.7L1440,128L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg> -->
    <p class="copyright" id="copyright">
        &copy; <%= date(new Date(), 'YYYY') %>
        <span class="gradient-text">
            <%= config.author || config.title %>
        </span>.
        Powered by <%- link_to("http://hexo.io/", "Hexo", {external: true})%>
        Theme <span class="gradient-text"><%- link_to("https://github.com/TriDiamond/hexo-theme-obsidian", "Obsidian", {external: true})%></span>
    </p>
</footer>
<%- partial('_partial/scripts', null, {cache: true}) %>
</html>
