<%- partial('_partial/head') %>

<body class="loading">
    <div class="loader">
        <div class="la-ball-atom la-2x">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <span id="config-title" style="display:none"><%= config.title %></span>
    <div id="loader"></div>
    <%- body %>
    <div id="back-to-top" class="animated fadeIn faster">
        <div class="flow"></div>
        <span class="percentage animated fadeIn faster">0%</span>
        <span class="iconfont icon-top02 animated fadeIn faster"></span>
    </div>
</body>
<footer>
    <p class="copyright" id="copyright">
        &copy; <%= date(new Date(), 'YYYY') %>
        <span class="gradient-text">
            <%= config.author || config.title %>
        </span>.
        Powered by <%- link_to("http://hexo.io/", "Hexo", {external: true})%>
        Theme
        <span class="gradient-text">
            <%- link_to("https://github.com/TriDiamond/hexo-theme-obsidian", "Obsidian", {external: true})%>
        </span>
        <small><%- link_to("https://github.com/TriDiamond/hexo-theme-obsidian/blob/master/CHANGELOG.md", 'v'+theme.version, {external: true})%></small>
        <% if (theme.beian.enable == true) { %>
        </br>
        <%= theme.beian.beianloc %>
        <span class="gradient-text">
            <%- link_to("https://beian.miit.gov.cn/", theme.beian.beianid, {external: true})%>
        </span>
        <% } %>
        <% if (theme.police.enable == true) { %>
        </br>
        <span style="display: inline-block;"> <img src=<%- url_for(theme.police.beianicon) %>></span>
        <%= theme.police.beianloc %>
        <span class="gradient-text">
            <%- link_to("http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010602009049", theme.police.beianid, {external: true})%>
        </span>
        <% } %>
    </p>
</footer>
<%- partial('_partial/mathjax', null, {cache: true}) %>
<%- partial('_partial/scripts', null, {cache: true}) %>
<% if (theme.aplayer.enable == true) { %>
<!-- 引用依赖 -->
<script>document.write(aplayerconf)</script>
<% } %>

<%- theme.footer_html %>

</html>
