<%
var keywords = '';
var description = '';
(function() {
    if (theme.keywords) {
        keywords += theme.keywords;
        keywords += ',';
    }
    if (page.keywords) {
        keywords += page.keywords;
    }
    if (config.description) {
        description += config.description;
        description += ',';
    }
    if  (is_post()) {
        description += truncate(strip_html(page.content), {length: 100, omission: ','});
    }
})();
%>
<!DOCTYPE html>
<html lang="<%= config.language %>" class="loading">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= page_title() %></title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="google" content="notranslate" />
    <% if (keywords) { %><meta name="keywords" content="<%= keywords %>"> <% } %>
    <% if (description) { %><meta name="description" content="<%= description %>"> <% } %>
    <% if (config.author){ %><meta name="author" content="<%= config.author %>"> <% } %>
    <% if (theme.rss){ %><link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml"> <% } %>
    <% if (theme.favicon){ %><link rel="icon" href="<%- url_for(theme.favicon) %>"> <% } %>
    <link href="https://fonts.loli.net/css?family=Roboto+Mono|Rubik&display=swap" rel="stylesheet">
    <%- css(['//at.alicdn.com/t/font_1429596_nzgqgvnmkjb.css'])%>
    <%- css(['//cdn.bootcss.com/animate.css/3.7.2/animate.min.css'])%>
    <%- css(['//cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css'])%>
    <%- css(['//cdn.bootcss.com/codemirror/5.48.4/codemirror.min.css'])%>
    <%- css(['//cdn.bootcss.com/codemirror/5.48.4/theme/dracula.css'])%>
    <%- css(['css/obsidian.css'])%>
    <%- css(['css/ball-atom.min.css'])%>
</head>
