<% var first = page.posts.sort("date", "desc").eq(0); %>
<div id="header">
    <div>
        <a class="image-logo animated fadeInDown" href="/"></a>
        <ul id="menu-menu" class="menu text-menu">
            <% for (var i in theme.menu){ %>
            <li class="animated fadeInDown menu-item menu-item-type-post_type menu-item-object-page">
                <%- link_to(theme.menu[i].lastIndexOf('/') > 0 ? theme.menu[i] : theme.menu[i] + '/', i, {external: false, class: "menu-link"})%>
            </li>
            <%}%>
        </ul>
        <div class="icon-menu switchmenu gradient-text animated fadeInDown"></div>
    </div>
</div>
<div id="screen">
    <div id="mark">
        <div class="cover animated fadeIn" style="
            animation-delay: 900ms;
            animation-duration: 2.8s;
            background-image: 
                radial-gradient(ellipse closest-side, rgba(0, 0, 0, 0.56), #100e17),
                url(<%= first.cover || "/img/cover.jpg" %>);">
        </div>
    </div>
    <% if ( first ) { %>
    <div id="post0">
        <p class="animated fadeInDown"><%- first.date.locale("zh-cn").format("MMMM DD, YYYY") %></p>
        <h1 class="animated fadeInDown"><%- link_to(first.path, first.title || config.title, {class: "posttitle"}) %></h1>
        <% if (theme.symbols_count_time.enable) {%>
            <p class="post-count animated fadeInDown">
                <% if (theme.symbols_count_time.wordCount) { %>
                    <span>
                        <b class="iconfont icon-text2"></b>
                        <%= symbolsCount(first.content) %>
                    </span>
                <% } %>
                <% if (theme.symbols_count_time.readCount) { %>
                    <span>
                        <b class="iconfont icon-timer__s"></b>
                        <%= symbolsTime(
                                first.content,
                                theme.symbols_count_time.awl,
                                theme.symbols_count_time.wpm,
                                theme.symbols_count_time.suffix
                        ) %>
                    </span>
                <% } %>
                <% if (theme.valine.enable == true && theme.valine.visitor == true) { %>
                    <span id="<%- '/' + first.path %>" class="leancloud_visitors" data-flag-title="<%- page.title %>">
                        <b class="iconfont icon-read"></b>
                        <i class="leancloud-visitors-count">1000000</i>
                    </span>
                <% } %>
            </p>
        <% } %>
        <div class="md-content animated fadeIn">
            <% if (theme.html_truncate.enable) { %>
                <%- htmlTruncate(first.content, first.preview || theme.html_truncate.coverLength, {
                    ellipsis: theme.html_truncate.ellipsis,
                    excludes: theme.html_truncate.excludes,
                    keepWhitespaces: theme.html_truncate.keepWhitespaces,
                    reserveLastWord: theme.html_truncate.reserveLastWord
                }) %>
            <% } else { %>
                <%- truncate(strip_html(first.content), {
                    length: 200,
                    omission: '...'
                }) %>
            <% } %>
        </div>
        <% if (first.tags && first.tags.length){ %>
            <%- list_tags(first.tags, {
                show_count: false,
                class: 'animated fadeInDown post-tags'
            }) %>
        <% } %>
    </div>
    <% } %>
</div>

<div class="screen-gradient-after">
    <div class="screen-gradient-content">
        <div class="screen-gradient-content-inside">
            <div class="bold-underline-links screen-gradient-sponsor">
                <p>
                  <span class="typed-text"></span>  
                </p> 
            </div>
        </div>
    </div>
</div>
